
ul {
    list-style-type: none;
    margin: 0;
    margin-left:30px;
    padding:11;
    overflow: hidden
}
#nav{
  display: inline;
  font-family:'Crimson Text';
  font-size: 3em;
}
.content{
  margin-top: 100px;
  position:relative;
}
td {
    float:left;
}

a:link, a:visited {

    font-weight: bold;
    color: inherit;

    text-align: center;
    padding:40px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
  color:white;
}

cursive{font-family: 'Playball', cursive;font-size:6em;}

new{font-family: 'Noto Serif', serif;}
.top {
width:100%;
color:#81BEF7;

}

border {
    background-color:inherit;
    width: 400px;
    padding: 25px;
    border: 25px solid inherit;
    margin: 25px;
    color: solid white;
}
about{
font-family: 'Montserrat', sans-serif;
font-size: 2em;}
contact{
font-family: 'Pacifico', cursive;font-size: 2em;
color:#00BFFF;}



slant{
font-family: 'Damion', cursive;
font-size: 2em;}
